@font-face {
  font-family: "Mabry";
  src: url("/font/mabry/MabryPro-Black.ttf");
}

@font-face {
  font-family: "Mabry-normal";
  src: url("/font/mabry/MabryPro-Medium.woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #23262f;
  box-shadow: inset 0 0 5px gray;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: #121214;
  border: 3px solid #23262f;
  border-radius: 12px;
}
body {
  color: "black" !important;
  font-family: "Mabry", sans-serif !important;
}
