@font-face {
  font-family: "Mabry";
  src: url("/font/mabry-pro-black.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #23262f;
}

::-webkit-scrollbar-thumb {
  background-color: #121214;
  border: 3px solid #23262f;
}
body {
  color: "black" !important;
  font-family: "Mabry", sans-serif !important;
}
