@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Inter:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #23262f;
}

::-webkit-scrollbar-thumb {
  background-color: #121214;
  border: 3px solid #23262f;
}
